<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Panel</title>

    <link rel="icon" type="image/x-icon" href="~/Assets/i.u_logo-blue-en.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body style="background-color: #f4f5f7 ">
    <div class="container-fluid mx-0 px-0" style="background: #f4f5f7; ">
        <div class="row">
            <div class="col-lg-3">
                @Html.Partial("_AdminPanelSidebar")
            </div>
            <div class="col-lg-9" style="background-color: #f4f5f7; ">

                <section class="container">
                    <section class="">
                        <div class="container py-5 h-100">
                            <div class="row d-flex justify-content-start align-items-start h-100">
                                <div class="col col-lg-10 mb-4 mb-lg-0">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </section>
                </section>

            </div>
        </div>
    </div>


    <div id="loading-animation">
        <div class="loading-spinner"></div>
        <img src="~/Assets/i.u_logo-blue-en.png" />
    </div>

    @*@Html.Partial("_Footer")*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Wow.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js" integrity="sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script>
        new WOW().init();

        $(window).on('load', function () {
            $('#loading-animation').fadeOut();
        })
    </script>



    @RenderSection("scripts", required: false)
</body>
</html>
